.con-text{
    color:white;
    padding: 10px 0px 0px 30px;
    font-size: 18px;
}

.address{
    color:white;
}

.total-con{
    margin-top: -40px;
    display:flex;
}
.fa-facebook {
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding-bottom: 30px;
  }

.fa-twitter{
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding-bottom: 30px;
}
.fa-linkedin{
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding-bottom: 30px;
}

.fa-instagram{
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding-bottom: 30px;
}

.fa-github{
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding-bottom: 30px;
}
.icon{
    margin-top: -20px;
    padding: 0px 0px 0px 400px;
}