.content {
    font-family: 'Lora';
    color: white;
    font-size: 68px;
    line-height: 10px;
}

.dis-content {
    padding-left: 150px;
    padding-top: 70px;
    display: flex;
    
}

.pro-img{
   
    padding-left: 50%;
    
}
.pro-img img {
    margin-top: 50px;
    margin-left:-500px;
    height: 400px;    

}
.para{
    font-family: 'Lora';
    color: white;
    font-size: 20px;
    margin-left: -200px;
}

.intro{
    margin-top: 65px;
}
.div1{
    background-image: url('/image/bg-img.png'); 
    width:100%;
    margin: -25px -15px 0px -8px ; 
    height: 650px; 
}

@media screen and (max-width:600px) {
    .pro-img img {
        margin-top: 50px;
        margin-left:-500px;
        height: 400px;    
    
    }
}
