.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.168);
    margin: 0%;
    height: 75px;
    position: fixed;
    width: 100%;
}

.heading {
    padding-top: 10px;
    display: flex;
    font-size: larger;
    padding-right: 10px;

}

.title {
    padding-right: 24px;
    color: white;
}

.navbar img {
    padding-top: 22px;
    padding-left: 20px;
    height: 50px;
    width: 75px;
}

@media screen and (max-width:600px) {
    .navbar img {
        padding-top: 22px;
        padding-left: 20px;
        height: 50px;
        width: 75px;
    }
}